[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
gunicorn = "*"
django = "*"
dj-database-url = "*"
psycopg2-binary = "*"
psycopg2 = "*"
django-heroku = "*"
requests = "*"

[requires]
python_version = "3.7"
